<section class="container" id="acciones">



    <div id="backcolor" class="pt-5 pb-5 pb-md-5">
        <!-- Visible para MD o superior -->
        <h2 id="accionesConcretas" class="display-4 mb-1 pt-5 d-none d-md-block">Servicios</h2>

        <!-- Visible para inferior a MD -->
        <h2 id="accionesConcretas" class="h1 mb-1 d-md-none d-lg-none">Servicios</h2>

        <!-- separador  -->
        <hr class="pb-5">




        <!-- CENTRO EDUCATIVO TERAPÉUTICO "UN NUEVO SOL" -->
        <div id="backcolor" class="row featurette d-flex justify-content-center">

            <!-- IMG -->
            <div class="col-12 col-lg-4 order-0 d-flex justify-content-center pb-md-3 my-auto" id="img-contenedor">


                <img src="../images/devops.JPG" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto my-auto" id="img-acciones">

            </div>

            <!-- TEXTO -->
            <div class="col-12 col-md-8 justify-content-center my-auto" id="p-acciones">
                <h2 class="col-12 featurette-heading text-center text-lg-left mx-auto mt-3">DEVOPS SDLC life cycle</h2>
                <p class="col-12 lead mx-auto text-center text-lg-left">
                    Brindamos soluciones punta a punta para complementar el desarrollo de software, siguiendo los estandares de el ciclo de vida de Desarrollo.
                </p>
                <p class="col-12 lead mx-auto text-center text-lg-left">
                    
                </p>
                <div class="col-12 d-flex justify-content-center mx-auto pt-lg-2">
                    <div class="col-12 row p-0 mx-auto">
                        <a href="https://www.facebook.com/cetunnuevosol/" target="_blank" class="col-12 col-lg-5 btn btn-warning text-center text-uppercase mx-auto py-auto mx-auto d-flex justify-content-center" type="button" id="ir">Ir al sitio</a>
                        <a href="https://www.donaronline.org/fundacion-beatriz-ramseyer-argentina/necesitamos-tu-ayuda-hoy-te-sumas" target="_blank" class="col-12 col-lg-5 btn btn-warning text-center text-uppercase mx-auto py-auto mx-auto d-flex justify-content-center donar" type="button">Donar a Un Nuevo Sol</a>
                    </div>
                </div>




            </div>


        </div>

        <!-- separador  -->
        <hr class="my-5">




        <!-- CENTRO CULTURAL "MARÍA ELENA WALSH" -->
        <div class="row featurette d-flex justify-content-center">

            <!-- IMG -->
            <div class="col-12 order-lg-1 col-lg-4 order-0 d-flex justify-content-center pb-md-3 my-auto" id="img-contenedor">


                <img src="../images/acciones-maria-elena-walsh.webp" alt="" class="bd-placeholder-img bd-placeholder-img-lg 
                    featurette-image img-fluid mx-autod-placeholder-img 
                    bd-placeholder-img-lg featurette-image img-fluid 
                    mx-auto " id="img-acciones">

            </div>

            <!-- TEXTO -->
            <div class="
            col-12 col-md-8  
            justify-content-center 
            my-auto
            " id="p-acciones">





                <h2 class="col-12 featurette-heading text-center text-lg-left mx-auto mt-3">CENTRO CULTURAL "MARÍA ELENA WALSH"
                </h2>

                <p class="col-12 lead mx-auto text-center text-lg-left">

                    Nuestro Centro Cultural nace con la misión de convertirse en un referente local en el área de la cultura. Es un espacio de encuentro. Es un "Club" de amigos con un importante interés por la cultura en todas sus formas. Es un espacio de formación personal,
                    de trascendencia, de superación.
                </p>

                <p class="col-12 lead mx-auto text-center text-lg-left">
                    En el convergen talleres como lo son los de expresión musical, teatro, coro, literatura, pintura, sonido e iluminación, títeres, circo, cerámica y emprendedurismo, entre otros.Completan la propuesta, las capacitacio|nes docentes, el café literario, el
                    museo fotográfico y su sala para cien espectadores en la que se ofrece cine, teatro, música y demás expresiones artísticas.
                </p>

                <p class="col-12 lead mx-auto text-center text-lg-left">
                    En síntesis, una propuesta cultural en la que niños, jóvenes y adultos pueden experimentar la plenitud, la camaradería y el amor por la cultura.
                </p>


                <div class="col-12 d-flex justify-content-center mx-auto pt-lg-2">
                    <div class="col-12 row p-0 mx-auto">
                        <a href="https://www.facebook.com/ccmew/"  target="_blank" class="col-12 col-lg-6 btn btn-warning text-center text-uppercase mx-auto py-auto mx-auto d-flex justify-content-center" href="http://www.unnuevosol.org.ar/" type="button" id="ir">Ir al sitio</a>
                    </div>
                </div>






            </div>


        </div>

        <!-- separador  -->
        <hr class="my-5">





        <!-- EQUIPO PROFESIONAL ITINERANTE -->
        <div class="row featurette d-flex justify-content-center">

            <!-- IMG -->
            <div class="col-12 col-lg-4 order-0 d-flex justify-content-center pb-md-3 my-auto" id="img-contenedor">

                <img src="../images/acciones-equipo.webp" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto my-auto" id="img-acciones">

            </div>

            <!-- TEXTO -->
            <div class="col-12 col-md-8 justify-content-center my-auto" id="p-acciones">

                <h2 class="col-12 featurette-heading text-center text-lg-left mx-auto mt-3">EQUIPO PROFESIONAL ITINERANTE
                </h2>
                <p class="col-12 lead mx-auto text-center text-lg-left">
                    Se trata de un grupo de profesionales formados en Psicología, Psicología. Social, Psicopedagogía y Trabajo Social, al servicio de las necesidades especiales de aquellos niños y jóvenes que pertenecen a una comunidad educativa.

                </p>
                <p class="col-12 lead mx-auto text-center text-lg-left">
                    Las escuelas podrán solicitar la intervención de nuestro equipo para situaciones relacionadas con dificultades en el aprendizaje, problemas psicológicos, sospecha de abuso o maltrato, entre otras.

                </p>
                <p class="col-12 lead mx-auto text-center text-lg-left">
                    El servicio es absolutamente gratuito, constituyéndose en una herramienta importante para los docentes que consideran necesario el trabajo en equipo para resolver las problemáticas surgidas en el aula, en la familia o en la comunidad toda.
                </p>
                <div class="col-12 d-flex justify-content-center mx-auto pt-lg-2">
                    <div class="col-12 row p-0 mx-auto">
                        <a href="mailto:equipo@fundacionramseyer.org.ar" class="col-12 col-lg-6 btn btn-warning text-center text-uppercase mx-auto py-auto mx-auto d-flex justify-content-center"  type="button" id="ir">Solicitar</a>
                    </div>
                </div>

            </div>


        </div>

        <!-- separador  -->
        <hr class="my-5">






        <!-- AYUDA ASISTENCIAL DIRECTA -->
        <div class="row featurette d-flex justify-content-center mb-md-5">

            <!-- IMG -->
            <div class="col-12 order-lg-1 col-lg-4 order-0 d-flex justify-content-center pb-md-3 my-auto" id="img-contenedor">

                <img src="../images/acciones-ayuda.webp" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto my-auto" id="img-acciones">
            </div>

            <!-- TEXTO -->
            <div class="
            col-12 col-md-8  
            justify-content-center 
            my-auto
            " id="p-acciones">




                <h2 class="col-12 featurette-heading text-center text-lg-left mx-auto mt-3">AYUDA ASISTENCIAL DIRECTA
                </h2>
                <p class="col-12 lead mx-auto text-center text-lg-left">
                    Una cama, alimentos, atención profesional, útiles escolares, vestimenta, calzado, etc., etc., son aquellas cosas con las que colaboramos frente a la necesidad concreta. Sumar tu ayuda para llevar adelante cualquiera de las acciones mencionadas, es lo
                    que nos permite realizarlas.
                </p>
                <p class="col-12 lead mx-auto text-center text-lg-left">
                    Te necesitamos. Solos no podemos. Juntos somos más. Con la fuerza del amor podremos seguir ganándole al hambre, a la indiferencia, al abandono.
                </p>
                <div class="col-12 d-flex justify-content-center mx-auto pt-lg-2">
                    <div class="col-12 row p-0 mx-auto">
                        <a href="mailto:ayudadirecta@fundacionramseyer.org.ar" class="col-12 col-lg-6 btn btn-warning text-center text-uppercase mx-auto py-auto mx-auto d-flex justify-content-center" type="button" id="ir">Solicitar</a>
                    </div>
                </div>




            </div>


        </div>



    </div>











</section>