<section class="container" id="acciones">



    <div id="backcolor" class="pt-5 pb-5 pb-md-5">
        <!-- Visible para MD o superior -->
        <h2 id="accionesConcretas" class="display-4 mb-1 pt-5 d-none d-md-block">Servicios</h2>

        <!-- Visible para inferior a MD -->
        <h2 id="accionesConcretas" class="h1 mb-1 d-md-none d-lg-none">Servicios</h2>

        <!-- separador  -->
        <hr class="pb-5">




        <!-- CENTRO EDUCATIVO TERAPÉUTICO "UN NUEVO SOL" -->
        <div id="backcolor" class="row featurette d-flex justify-content-center">

            <!-- IMG -->
            <div class="col-12 col-lg-4 order-0 d-flex justify-content-center pb-md-3 my-auto" id="img-contenedor">


                <img src="../images/devops.JPG" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto my-auto" id="img-acciones">

            </div>

            <!-- TEXTO -->
            <div class="col-12 col-md-8 justify-content-center my-auto" id="p-acciones">
                <h2 class="col-12 featurette-heading text-center text-lg-left mx-auto mt-3">DEVOPS SDLC life cycle</h2>
                <p class="col-12 lead mx-auto text-center text-lg-left">
                    Brindamos soluciones punta a punta para complementar el desarrollo de software, siguiendo los estandares de el ciclo de vida de Desarrollo.
                </p>
                <p class="col-12 lead mx-auto text-center text-lg-left">
                    Esta relación estrecha entre «Dev» y «Ops» se extiende a cada una de las fases del ciclo de vida de DevOps: desde la planificación inicial del software a las fases de codificación, compilación, pruebas y publicación, y en la puesta en marcha, las operaciones y la supervisión continua. Esta relación impulsa un bucle de retroalimentación continua con los clientes sobre las mejoras, el desarrollo, las pruebas y la puesta en marcha. Uno de los resultados de todos estos esfuerzos puede ser la publicación continua y más rápida de las adiciones y los cambios que se necesitan en las funciones
                </p>
                <!-- <div class="col-12 d-flex justify-content-center mx-auto pt-lg-2">
                    <div class="col-12 row p-0 mx-auto">
                        <a href="https://www.facebook.com/cetunnuevosol/" target="_blank" class="col-12 col-lg-5 btn btn-warning text-center text-uppercase mx-auto py-auto mx-auto d-flex justify-content-center" type="button" id="ir">Ir al sitio</a>
                        <a href="https://www.donaronline.org/fundacion-beatriz-ramseyer-argentina/necesitamos-tu-ayuda-hoy-te-sumas" target="_blank" class="col-12 col-lg-5 btn btn-warning text-center text-uppercase mx-auto py-auto mx-auto d-flex justify-content-center donar" type="button">Donar a Un Nuevo Sol</a>
                    </div>
                </div> -->




            </div>


        </div>

        <!-- separador  -->
        <hr class="my-5">




        <!-- CENTRO CULTURAL "MARÍA ELENA WALSH" -->
        <div class="row featurette d-flex justify-content-center">

            <!-- IMG -->
            <div class="col-12 order-lg-1 col-lg-4 order-0 d-flex justify-content-center pb-md-3 my-auto" id="img-contenedor">


                <img src="../images/cloud.JPG" alt="" class="bd-placeholder-img bd-placeholder-img-lg 
                    featurette-image img-fluid mx-autod-placeholder-img 
                    bd-placeholder-img-lg featurette-image img-fluid 
                    mx-auto " id="img-acciones">

            </div>

            <!-- TEXTO -->
            <div class="
            col-12 col-md-8  
            justify-content-center 
            my-auto
            " id="p-acciones">





                <h2 class="col-12 featurette-heading text-center text-lg-left mx-auto mt-3">Cloud Computing, Automation and System Administration
                </h2>

                <p class="col-12 lead mx-auto text-center text-lg-left">
                    Nubes públicas, privadas, híbridas y multiclouds
                </p>

                <p class="col-12 lead mx-auto text-center text-lg-left">
                    Proveemos infraestructura, servicios, plataformas y aplicaciones según se requiera en las redes de el cliente.
                </p>

                <p class="col-12 lead mx-auto text-center text-lg-left">
                    Servicios de Nube IaaS, PaaS, SaaS, FaaS, CaaS
                </p>
                <p class="col-12 lead mx-auto text-center text-lg-left">
                    Automation con Linux de base SO
                </p>

                <div class="col-12 d-flex justify-content-center mx-auto pt-lg-2">
<!--                     <div class="col-12 row p-0 mx-auto">
                        <a href="https://www.facebook.com/ccmew/"  target="_blank" class="col-12 col-lg-6 btn btn-warning text-center text-uppercase mx-auto py-auto mx-auto d-flex justify-content-center" href="http://www.unnuevosol.org.ar/" type="button" id="ir">Ir al sitio</a>
                    </div> -->
                </div>






            </div>


        </div>

        <!-- separador  -->
        <hr class="my-5">





        <!-- EQUIPO PROFESIONAL ITINERANTE -->
        <div class="row featurette d-flex justify-content-center">

            <!-- IMG -->
            <div class="col-12 col-lg-4 order-0 d-flex justify-content-center pb-md-3 my-auto" id="img-contenedor">

                <img src="../images/software.jpg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto my-auto" id="img-acciones">

            </div>

            <!-- TEXTO -->
            <div class="col-12 col-md-8 justify-content-center my-auto" id="p-acciones">

                <h2 class="col-12 featurette-heading text-center text-lg-left mx-auto mt-3">Software Development
                </h2>
                <p class="col-12 lead mx-auto text-center text-lg-left">
                    Desarrollo de Software Blockchain, Server, Mobile, Desktop y Web
                </p>
                <p class="col-12 lead mx-auto text-center text-lg-left">
                    Desarrollo personalizado para cada cliente
                </p>
                <p class="col-12 lead mx-auto text-center text-lg-left">
                    Implementacion de buenas practicas
                </p>
                <div class="col-12 d-flex justify-content-center mx-auto pt-lg-2">
                   <!--  <div class="col-12 row p-0 mx-auto">
                        <a href="mailto:equipo@fundacionramseyer.org.ar" class="col-12 col-lg-6 btn btn-warning text-center text-uppercase mx-auto py-auto mx-auto d-flex justify-content-center"  type="button" id="ir">Solicitar</a>
                    </div> -->
                </div>

            </div>


        </div>

        <!-- separador  -->
        <hr class="my-5">






        <!-- AYUDA ASISTENCIAL DIRECTA -->
        <div class="row featurette d-flex justify-content-center mb-md-5">

            <!-- IMG -->
            <div class="col-12 order-lg-1 col-lg-4 order-0 d-flex justify-content-center pb-md-3 my-auto" id="img-contenedor">

                <img src="../images/job.jpg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto my-auto" id="img-acciones">
            </div>

            <!-- TEXTO -->
            <div class="
            col-12 col-md-8  
            justify-content-center 
            my-auto
            " id="p-acciones">




                <h2 class="col-12 featurette-heading text-center text-lg-left mx-auto mt-3">Sourcing and Hunting IT
                </h2>
                <p class="col-12 lead mx-auto text-center text-lg-left">
                    Realizamos busquedas de Perfiles de Tecnologia
                </p>
                <p class="col-12 lead mx-auto text-center text-lg-left">
                    Mediante un proceso minuciosos logramos encontrar los perfiles que mas se adaptan al proyecto del cliente
                </p>
                <div class="col-12 d-flex justify-content-center mx-auto pt-lg-2">
                    <!-- <div class="col-12 row p-0 mx-auto">
                        <a href="mailto:ayudadirecta@fundacionramseyer.org.ar" class="col-12 col-lg-6 btn btn-warning text-center text-uppercase mx-auto py-auto mx-auto d-flex justify-content-center" type="button" id="ir">Solicitar</a>
                    </div> -->
                </div>




            </div>


        </div>



    </div>











</section>