<link rel="stylesheet" href="/stylesheets/footer.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- FOOTER -->
<footer class="site-footer section">

<!--     <section class="col-12 newsletter px-0 mx-0 d-flex justify-content-center">
        <div class="row my-auto">
            <div class="my-auto">
                <div class="content my-auto">
                    <form class="justify-content-center mx-2" action="/teContactamos" method="POST">
                        <div class="d-flex mx-auto px-0 justify-content-center">
                            <h2 class="text-center text-uppercase p-2">Suscribite para estar informado</h2>
                        </div>
                        <div class="input-group mx-auto my-2">
                            <input name="email" type="email" class="form-control __ingresar-mail ml-2" placeholder="Ingresa tu email">
                            <span class="input-group-btn d-flex">
                                <button class="__btn btn mr-2" type="submit">Suscribirme</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section> -->

    <div class="container ">
        <div class="row ">
            <div class="texto col-12">
                <hr class="col-12">

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3 contactos">
                        <!-- <div class="col-12">
                            <div class="row">
                                <span class="col-12 text-center text-lg-left"><i class="fa fa-envelope my-auto mr-2"
                                        style="color: #fff; font-size: 14px;"
                                        aria-hidden="true"></i>equipo@fundacionramseyer.org.ar</span>
                            </div>
                            <div class="row">
                                <span class="col-12 my-1 text-center text-lg-left"><i class="fa fa-phone my-auto mr-2"
                                        style="color: #fff; font-size: 19px;" aria-hidden="true"></i>(3544) 49 67 49</span>
                            </div>
                            <div class="row">
                                <span class="col-12 text-center text-lg-left"><i class="fa fa-mobile my-auto mr-2"
                                        style="color: #fff; font-size: 19px;" aria-hidden="true"></i>(11)57642207</span>
                            </div>
                        </div> -->

                        <div class="col-12 d-flex my-md-auto">
                            <div class="footer-social-icons container mx-auto mt-2 p-0 d-flex justify-content-center justify-content-lg-start">
                                <ul class="social-icons p-0 mt-3 row">
                                    <li class="mx-1">
                                        <a href="" target="_blank" class="social-icon text-decoration-none"> <i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li class="mx-1">
                                        <a href="" target="_blank" class="social-icon text-decoration-none"> <i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li class="mx-1">
                                        <a href="" target="_blank" class="social-icon text-decoration-none"> <i class="fa fa-instagram"></i></a>
                                    </li>
                                    <li class="mx-1">
                                        <a href="" target="_blank" class="social-icon text-decoration-none"> <i class="fa fa-youtube"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="d-none d-lg-block row d-flex mt-1 p-0">
                        <span class="barra p-0 d-none d-lg-block"></span>
                    </div>
                    <div class="direccion col-12 col-md-6 col-lg-4 ml-lg-4 mx-md-auto mt-lg-0 mt-md-3 mb-sm-3 justify-content-center">
                        <div class="row">
                            <span class="col-12 text-center text-lg-left"></span>
                        </div>
                        <div class="row">
                            <span class="col-12 my-1 text-center text-lg-left"></span>
                        </div>
                        <div class="row">
                            <span class="col-12 text-center text-lg-left"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 d-flex my-sm-4 my-md-auto ml-lg-auto mt-lg-0 mr-lg-2 justify-content-center">
                        <img class="__img-logo d-flex ml-lg-auto my-md-auto" src="" alt="">
                    </div>
                    <div class="col-12 col-md-6 d-flex justify-content-center m-auto mt-sm-4 mb-sm-3 pr-md-5">
                        <p class="copyright-text p-0 text-center m-auto">
                        </p>
                    </div>
                </div>
                <hr class="col-12">
            </div>
        </div>
        <!-- <a href="https://wa.me/541157642207?text=Me%20gustaría%20saber%20el%20precio%20del%20coche" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a> -->
    </div>
</footer>
<!-- Fin FOOTER -->