<header>
    <nav class="navbar navbar-expand-lg navbar-light bf_bg_header fixed-top py-1">
        <div class="container-fluid p-1 
        d-flex bd-highlight">


            <a class="navbar-brand p-0
            mr-auto
            bd-highlight
            " href="#">
                <img alt="Logo it-dev" src="../images/logo-header.jpeg"" width=" 80">
            </a>


             <!-- BOTON DONAR
            <a href="#donar" class="btn my-2 my-sm-0 mx-3 d-lg-none __btn-donar"
                type="submit">DONAR</a> -->



            <!-- BOTON DESPLEGABLE -->
            <button class="navbar-toggler bd-highlight 
            " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- NAVBAR ITEMS -->
            <div class="collapse navbar-collapse pt-4 pt-sm-0 flex-row-reverse" id="navbarNav">
                <ul class="navbar-nav navbar-right mt-1 
                d-flex align-items-stretch
                ">


                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link" href="#nosotros">Nosotros</a>
                    </li>


                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link" href="#acciones">Servicios</a>
                    </li>

<!--            FOTOS         <li class="nav-item d-flex align-items-center">
                        <a class="nav-link" href="https://www.facebook.com/fundacionramseyer/photos">Fotos</a>
                    </li> -->

                  <!--   <li class="nav-item d-flex align-items-center">
                        <a class="nav-link" href="#involucrate">Involucrate</a>
                    </li> -->

                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link" href="https://blog.it-dev.ar">Blog</a>
                    </li>

                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link" href="#contacto">Contacto</a>
                    </li>

<!--                     <!-- BOTON DONAR
                    <a href="#donar" class="btn my-2 my-sm-0 mx-3 d-none d-lg-block __btn-donar"
                    type="submit">DONAR</a> -->


                </ul>
            </div>



        </div>
    </nav>
</header>
