<section id="nosotros" class="nosotros">
  <div class="container">
    <div class="pt-5 pb-5 pb-md-5">
      <!-- Visible para MD o superior -->
      <h2 class="display-4 mb-1 pt-5 d-none d-md-block">Nosotros</h2>

      <!-- Visible para inferior a MD -->
      <h2 class="h1 mb-1 d-md-none d-lg-none">Nosotros</h2>
      <hr class="pb-3" />
      
      <div class="row featurette">
        <div class="col-lg-7">
          <div class="row contendor-1" id="container-p">
            <div class="col-lg-12" id="container-p">
              <div class="col-lg-7" id="container-p">
                <img src="../images/1nosotros.JPG" alt="" class="img-nosotrosCarlos" />
              </div>
              <div class="col-lg-5" id="container-p">
                <p></p>
                <p class="p-nosotros">
                  Brindamos soluciones tecnologicas adaptadas a la necesidad del cliente,
                  teniendo en cuenta el contexto global de infraestructura fisica o en la nube. 
                </p>
              </div>
            </div>
            <div class="col-lg-12" id="container-p" style="margin-top: 5%;">
              <p class="p-nosotros">
                
              </p>
              <p class="p-nosotros">
                Para ello realizamos un Analisis Profundo Inicial donde relevamos las necesidades del cliente
                y los requerimientos del proyecto.
              </p>
            </div>

            <div class="col-lg-12" id="container-p">
              <img src="../images/1lupa.JPG" alt="" class="img-nosotrosBebe" />
            </div>
            <div class="col-lg-12" style="margin-top: 5%;" id="container-p">
              <p class="p-nosotros">
                Dentro de ese Analisis proveemos en paralelo el asesoramiento
                para la adquisicion,contratacion o alquiler de equipamiento informatico
                ,Software Open Source o licenciado y brindamos un presupuesto
                completo con todo el detalle.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="col-lg-12">
            <img src="../images/nosotrosNiños.jpg" alt="" class="img-nosotrosNiños" />
          </div>
          <div class="col-lg-12" style="margin-top: 4%;">
            <p class="p-nosotros">
              A partir de aquí comienza una historia de amor, de fe y de
              esperanza en la que Beatriz, nuestra mamá, contra todo pronóstico,
              fue logrando muy de a poco que Diego se recuperara y pudiera
              vivir.
            </p>
            <p class="p-nosotros">
              Diego nos enseñó que el amor es poderosamente sanador y, todo lo
              que intuitivamente empleamos en él, hoy felizmente, y de la mano
              de un equipo profesional, se lo transmitimos a muchos otros niños
              desde nuestra Fundación creada para tal fin, que, como no podía
              ser de otra manera, lleva el nombre de Beatriz Ramseyer en honor a
              la memoria de quién honrara el Amor, AMOR con mayúsculas -como
              decía ella- AMOR la única verdad.
            </p>
            <p class="p-nosotros">
              Por eso, entre tantas otras acciones, en la casa que nos dejara en
              Traslasierra, Córdoba, la Fundación crea el Centro Educativo
              Terapéutico "Un nuevo Sol" por y para Diego y otros niños como él
              y con patologías como TGD, Síndrome de Down, Síndrome de
              Prader-Willi, Síndrome de Rett y Síndrome de West, Síndrome de
              Nonnan y parálisis cerebral, entre otros.
            </p>
          </div>
        </div>
        <hr class="featurette-divider" />
        <div class="fund-datos col-12">
          <div class="col-md-6-sm-12" >
            <h2 class="sub-datos" >
              La fundacion en números
            </h2>
            <ul>
              <li>
                <p class="p-nosotros">
                  26 años de compromiso con la solidaridad.
                </p>
              </li>
              <li>
                <p class="p-nosotros">
                  7 hogares de niños fundados para niños en riesgo.
                </p>
              </li>
              <li>
                <p class="p-nosotros">
                  2 Escuelas fundadas para niños con discapacidad severa.
                </p>
              </li>
              <li>
                <p class="p-nosotros">
                  3714 niños con derechos vulnerados atendidos durante 17 años.
                </p>
              </li>
              <li>
                <p class="p-nosotros">
                  1117 Acciones directas individuales.
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-6-sm-12">
            <h2 class="sub-datos">
              Nuestros Programas
            </h2>
            <ul >
              <li value="1" >
                <p class="p-nosotros">
                  Centro Educativo Terapéutico para niños y jóvenes con discapacidad.
                </p>
              </li>
              <li>
                <p class="p-nosotros">
                  Centro Cultural de formación artística para toda la familia.
                </p>
              </li>
              <li>
                <p class="p-nosotros">
                  Gabinete psicopedagógico itinerante para escuelas rurales.
                </p>
              </li>
              <li>
                <p class="p-nosotros">
                  Ayuda directa sobre necesidades puntuales.
                </p>
              </li>
              <li>
                <p class="p-nosotros">
                  Voluntariado para particulares y empresas.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>