<section id="nosotros" class="nosotros">
  <div class="container">
    <div class="pt-5 pb-5 pb-md-5">
      <!-- Visible para MD o superior -->
      <h2 class="display-4 mb-1 pt-5 d-none d-md-block">Nosotros</h2>

      <!-- Visible para inferior a MD -->
      <h2 class="h1 mb-1 d-md-none d-lg-none">Nosotros</h2>
      <hr class="pb-3" />
      
      <div class="row featurette">
        <div class="col-lg-7">
          <div class="row contendor-1" id="container-p">
            <div class="col-lg-12" id="container-p">
              <div class="col-lg-7" id="container-p">
                <img src="../images/1nosotros.JPG" alt="" class="img-nosotrosCarlos" />
              </div>
              <div class="col-lg-5" id="container-p">
                <p></p>
                <p class="p-nosotros">
                  Brindamos soluciones tecnologicas adaptadas a la necesidad del cliente,
                  teniendo en cuenta el contexto global de infraestructura fisica o en la nube. 
                </p>
              </div>
            </div>
            <div class="col-lg-12" id="container-p" style="margin-top: 5%;">
              <p class="p-nosotros">
                
              </p>
              <p class="p-nosotros">
                Para ello realizamos un Analisis Profundo Inicial donde relevamos las necesidades del cliente
                y los requerimientos del proyecto.
              </p>
            </div>

            <div class="col-lg-12" id="container-p">
              <img src="../images/1lupa.JPG" alt="" class="img-nosotrosBebe" />
            </div>
            <div class="col-lg-12" style="margin-top: 5%;" id="container-p">
              <p class="p-nosotros">
                Dentro de ese Analisis proveemos en paralelo el asesoramiento
                para la adquisicion,contratacion o alquiler de equipamiento informatico
                ,Software Open Source o licenciado y brindamos un presupuesto
                completo con todo el detalle.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="col-lg-12">
            <img src="../images/calidad.jpg" alt="" class="img-nosotrosNiños" />
          </div>
          <div class="col-lg-12" style="margin-top: 4%;">
            <p class="p-nosotros">
              "Lo Barato sale Caro"
            </p>
            <p class="p-nosotros">
              Es por eso que enfocamos nuestros estandares en la Calidad,
              por sobre el costo y el tiempo, pero sin desestimarlos.
            </p>
            <p class="p-nosotros">
              Por eso, es sumamente importante tener la mayor cantidad posible
              de informacion sobre lo que Nuestros Clientes necesitan, para poder 
              realizar una Planificacion acorde a lo que se busca.
              Tener en claro que estos 3 conceptos conviven entre si y a que aspecto
              se le da mas importancia, permite entregar Presupuestos Realistas
              sin ambiguedades que confunden el alcance de nuestras responsabilidades
              como Proveedor de Soluciones.
            </p>
            <p></p>
            <p class="p-nosotros">
              Nuestro enfoque comunmente se puede encontrar con Nombres distintos,
              pero algunos de ellos pueden ser Agile, Scrum, Metodologias Agilistas,etc.
            </p>
            <p></p>
            <p class="p-nosotros">
              Este Enfoque permite separar en fases el Desarrollo de un Producto o Solucion
              Digital que permita predecir la entrega de un Minimo Producto Viable (MVP)
              que satisfaga las necesidades del Cliente en un Porcentaje Alto.
            </p>
          </div>
        </div>
        
</section>