<link rel="stylesheet" href="/stylesheets/donar.css">

<!-- DONAR -->

<div class="__donar " id="donar">

    <div class="container">
        <div class="containerDonar">
            <div class="row d-flex justify-content-center mx-auto">
                <div class="pt-5 pb-5 pb-md-5 mb-md-5">

                    <!-- Visible para MD o superior -->
                    <h2 id="id_donar" class="display-4 mb-1 pt-5 d-none d-md-block">Donar</h2>

                    <!-- Visible para inferior a MD -->
                    <h2 id="id_donar" class="h1 mb-1 d-md-none d-lg-none">Donar</h2>
                    <hr class="pb-3">


                    <div class="row">
                        <div class="__textos-donar col-12 col-lg-7 justify-content-center justify-content-lg-left">
                            <h4 class="col-12 d-inline-block font-weight-bold">Dios bendice a quien da con alegría.</h4>
                            <h5 class="col-12 d-inline-block font-weight-bold">Gracias por ayudarnos a construir otra realidad. </h5>
                            <p class="col-12 d-inline-block">
                                La Fundación tiene Personería Jurídica, es Entidad de Bien Público, es exenta de iva, ganacias e ingresos brutos. Tiene reconocimiento de Afip y emite recibos deducible de impuestos según normas vigentes.
                            </p>
                            <h5 class="col-12 text-danger text-uppercase text-left font-weight-bold">La urgencia</h5>
                            <p class="col-12 d-inline-block">
                                Los tratamientos de los nenes, los medicamentos, el material didáctico, los alimentos, los servicios, el combustible y mantenimiento del transporte especial, el mantenimiento del edificio, el sostenimiento de la granjita.... todo eso afrontamos mes tras
                                mes, y no es poca cosa!</p>
                            <div class=" d-none d-lg-block">
                                <p class="col-12 d-inline-block"> Cenas a beneficio, bingos solidarios, feria americana, puestos de venta de comida, sorteos, campañas de socios protectores, etc., etc. es lo que intentamos permanentemente para poder cubrir los gastos mensuales. Así y todo...
                                    no alcanza! Nuestra Obra es tan sólo una gota en el mar, pero como decía la Madre Teresa de Calcuta, el mar no sería el mismo si le faltara esa gota. Apoyanos! Sumate! Verdaderamente vale la pena.
                                    <p class="col-12 text-center text-uppercase font-weight-bold">
                                        ¿Ahora te das cuenta lo importante que es tu participación?
                                    </p>
                                </p>
                            </div>

                            <p class="d-lg-none">
                                <a class="btn btn-link text-decoration-none text-info" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Leer más
                                </a>
                            </p>
                            <div class="collapse d-lg-none" id="collapseExample">
                                <div class="__card-donar card card-body">
                                    <p>
                                        Cenas a beneficio, bingos solidarios, feria americana, puestos de venta de comida, sorteos, campañas de socios protectores, etc., etc. es lo que intentamos permanentemente para poder cubrir los gastos mensuales. Así y todo... no alcanza! Nuestra Obra
                                        es tan sólo una gota en el mar, pero como decía la Madre Teresa de Calcuta, el mar no sería el mismo si le faltara esa gota. ¡Apoyanos, Sumate! Verdaderamente vale la pena.
                                    </p>
                                </div>
                            </div>
                            <div class="d-lg-none">
                                <p class="text-center text-uppercase font-weight-bold pt-2">
                                    ¿Ahora te das cuenta lo importante que es tu participación?
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5 d-flex mx-auto justify-content-center">
                            <div class="col-12 __botones-donar row container mx-auto my-auto justify-content-center">
                                <a href="/donar/transferencia" target="_blank" type="submit" class="__btn-donar d-flex font-weight-bold text-wrap btn btn-warning text-white col-12 col-md-5 col-lg-10 mx-2 mt-3 mb-4 ml-2 my-lg-5 mx-lg-auto ">
                                    <div class="row d-flex mx-auto py-0 my-0">
                                        <div class="col-12 col-lg-3 m-auto p-0 py-lg-2">
                                            <i class="fa fa-university m-auto fa-x2 py-0" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-lg-9 d-flex justify-content-center mx-auto row p-0 py-lg-2">
                                            <span class="col-12 d-block m-auto text-wrap p-0">Transferencia</span> <span class="col-12 d-block m-auto text-wrap p-0">Bancaria</span>
                                        </div>
                                    </div>
                                </a>
                                <a href="https://www.donaronline.org/fundacion-beatriz-ramseyer-argentina/necesitamos-tu-ayuda-hoy-te-sumas" target="_blank" type="button" class="__btn-donar d-flex font-weight-bold text-wrap btn btn-warning text-white col-12 col-md-5 col-lg-10 mx-2 mt-3 mb-4 ml-2 my-lg-5 mx-lg-auto ">
                                    <div class="row d-flex mx-auto py-0 my-0">
                                        <div class="col-12 col-lg-3 m-auto p-0 py-lg-2">
                                            <i class="fa fa-handshake-o m-auto ml-lg-2 fa-x2 py-0" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-lg-9 d-flex justify-content-center mx-auto row p-0 py-lg-2">
                                            <span class="col-12 d-block m-auto text-wrap p-0">Donar con</span> <span class="col-12 d-block m-auto text-wrap p-0">MercadoPago</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<!-- FIN DONAR -->