<link rel="stylesheet" href="/stylesheets/involucrate.css">

<section class="involucrate" id="involucrate">
    <div class="container">
        <div class="pt-5 pb-5 pb-md-5">

            <!-- Visible para MD o superior -->
            <h2 class="display-4 mb-1 pt-5 d-none d-md-block">Involucrate</h2>

            <!-- Visible para inferior a MD -->
            <h2 class="h1 mb-1 d-md-none d-lg-none">Involucrate</h2>
            <hr class="pb-3">

            <div class="row justify-content-center mx-auto">
                <div class="col-12 card-deck d-flex justify-content-center mb-md-5">

                    <div class="row d-flex justify-content-center">
                        <div class="col-12 col-md-6 col-lg-4 my-2 ">
                            <div class="__card card justify-content-center mx-auto">
                                <div class="justify-content-center row">
                                    <div class="col-12 d-flex justify-content-center">
                                        <img src="/images/pasantias.jpeg" class="__card-img-top card-img-top px-2 px-md-3 px-lg-2 mt-2 pb-lg-2" alt="...">
                                    </div>
                                    <div class="col-12 __card-body card-body mt-md-2 pt-md-4 mt-lg-1">
                                        <h5 class="card-title px-3">Pasantias</h5>
                                        <p class="card-text px-3 px-md-2">Más de 20 años de comunión con el servicio y la consecuente experiencia en discapacidad, derechos vulnerados y desarrollo social, nos permiten ofrecerte el marco adecuado para que puedas realizar tus pasantías en
                                            nuestra institución. Indicale al sector de pasantías de tu escuela, instituto o universidad, que se contacten con nosotros para la gestión..</p>
                                        <div class="container">
                                            <a href="mailto:pasante@fundacionramseyer.org.ar" type="button" class="__btn btn btn-warning btn-block text-center text-uppercase text-white">Ser
                                                pasante</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4 my-2">
                            <div class="__card card justify-content-center mx-auto">
                                <div class="justify-content-center row">
                                    <div class="col-12 d-flex justify-content-center">
                                        <img src="/images/voluntario.jpeg" class="__card-img-top card-img-top px-2 px-md-3 px-lg-2 mt-2 pb-lg-2" alt="...">
                                    </div>
                                    <div class="col-12 __card-body card-body mt-md-1 pt-md-4 mt-lg-1">
                                        <h5 class="card-title px-3">Voluntariado</h5>
                                        <p class="card-text px-3 px-md-2">Ser voluntariado es una de las experiencias más satisfactorias que puedas realizar. Comprometerte activamente con la persona en situación de vulnerabilidad y hacia la sociedad en general. En nuestra Fundación las
                                            puertas están abiertas para que experimentes la alegría de dar en las diferentes áreas, puede ser forma virtual o presencial. Anímate! .</p>
                                        <div class="container">
                                            <a href="mailto:voluntariado@fundacionramseyer.org.ar" type="button" class="__btn btn btn-warning btn-block text-center text-uppercase text-white">Ser
                                                voluntario
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-12 col-lg-4 my-2">
                            <div class="__card card justify-content-center mx-auto">
                                <div class="justify-content-center row d-flex pt-lg-2">
                                    <div class="col-12 col-md-5 col-lg-12 d-flex justify-content-center">
                                        <img src="/images/padrinazgo.jpeg" style="width: 100%!important; max-width: 450px!important;" class="__card-img-top card-img-top my-md-auto px-2 px-md-3 px-lg-2 mt-2" alt="...">
                                    </div>
                                    <div class="col-12 col-md-5 col-lg-12 __card-body card-body mt-md-1 mt-lg-3">
                                        <h5 class="card-title px-3">Padrinazgo</h5>
                                        <p class="card-text px-3">Ser padrino de nuestra Obra significa constituirte en dador de alegrías. Podés ser: y ayudarnos a pagar el servicio eléctrico de nuestra escuelita. y ayudarnos con los alimentos. y ayudarnos con los medicamentos
                                            o con los tratamientos. y ayudarnos con el combustible y mantenimiento de nuestra vieja camioneta.</p>
                                        <div class="container">
                                            <a href="mailto:padrinazgo@fundacionramseyer.org.ar" type="button" class="__btn btn btn-warning btn-block text-center text-uppercase text-white">Apadrinar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</section>