<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/transferencia.css">
    <title>Document</title>
</head>

<body class="row principalTransferencia">
    <div class="datosTransferencia">
        <h1 class="titleTransf">Transferencia Bancaria</h1>
        <h2 class="titleTransf">Datos:</h2>
        <h3 class="p-datosTransf">Banco de Córdoba (BANCOR)</h3>
        <h3 class="p-datosTransf">Titular: Fundación Beatriz Ramseyer</h3>
        <h3 class="p-datosTransf">Cuenta Corriente: 322400784/7</h3>
        <h3 class="p-datosTransf">Cbu: 0200322901000040078479</h3>
        <h3 class="p-datosTransf">Cuit: 30-71502493-0</h3>
    </div>
</body>
</html>




