/*ESTILO DEL FOOTER*/

.site-footer {
    /* font-family: 'Saira Extra Condensed', sans-serif; */
    bottom: 0;
    color: whitesmoke;
    background-color: rgb(44, 9, 10);
    box-sizing: border-box;
}

.site-footer hr {
    padding: 0;
    border-top-color: #bbb;
    opacity: 0.5
}


/* BARRA DIVISORIA */

.site-footer .barra {
    height: 60px!important;
    width: 1px!important;
    border: 1px solid #fff;
}


/* FIN BARRA DIVISORIA */

.site-footer .contactos span,
.site-footer .direccion span {
    font-size: 12px;
}


/* LOGO DEL FOOTER */

.site-footer .__img-logo {
    margin: 10px 0;
    max-height: 100px;
    /* 
    height: 100%;
    max-width: 100px;
    width: 100%;
    border-radius: 50%;
    border: 3px solid pink; */
}


/* FIN LOGO FOOTER */


/* ICONOS REDES SOCIALES */

.footer-social-icons a {
    text-decoration: none;
    color: #fff;
}

.footer-social-icons ul {
    padding: 0;
    list-style: none;
}

.footer-social-icons {
    width: 400px;
    display: block;
    margin: 0 auto;
}

.social-icon {
    color: #fff;
}

.social-icons li {
    display: inline;
    box-sizing: border-box;
}

.social-icons a i {
    color: #fff;
}

.fa-facebook {
    width: 38px;
    height: 39px;
    border-radius: 5px;
    /* border: 1px solid #fff; */
    padding: 11px 10px 11px 14px;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    background-color: transparent;
}

.fa-facebook:hover {
    background-color: #3d5b99;
}

.fa-twitter {
    width: 38px;
    height: 39px;
    border-radius: 5px;
    /* border: 1px solid #fff; */
    padding: 11px 10px 11px 12px;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    background-color: transparent;
}

.fa-twitter:hover {
    background-color: #00aced;
}

.fa-instagram {
    width: 39px;
    height: 40px;
    border-radius: 5px;
    /* border: 1px solid #fff; */
    padding: 11px 10px 11px 12px;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    background-color: transparent;
}

.fa-instagram:hover {
    background-color: #DD2A7B;
}

.fa-youtube {
    width: 38px;
    height: 39px;
    border-radius: 5px;
    /* border: 1px solid #fff; */
    padding: 11px 10px 11px 12px;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    background-color: transparent;
}

.fa-youtube:hover {
    background-color: #e64a41;
}


.whatsapp {
    position:initial;
    width:60px;
    height:60px;
    bottom:40px;
    right:1250px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }

/* FIN REDES SOCIALES */


/* ESTILO NEWSLATTER */

.newsletter {
    background: url(../images/newslatter.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    max-height: 350px;
    height: 350px;
}

.newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.newsletter .content h2 {
    background-color: rgba(127, 241, 241, .7);
    border-radius: 10px;
    color: #000;
    font-weight: 700;
    font-size: 20px;
}

.newsletter .content .form-control {
    height: 40px;
    border-color: #ffffff;
    border-radius: 30px;
}

.newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
}

.newsletter .content .btn {
    min-height: 40px;
    border-radius: 0 30px 30px 0;
    background-color: rgb(127, 241, 241);
    color: #000;
    font-weight: 600;
}

.newsletter .content .__ingresar-mail {
    border-radius: 30px 0 0 30px;
}

.newsletter .content .btn:hover {
    color: #fff!important;
    background-color: rgba(3, 166, 221, 0.8);
    border: 1px solid rgba(34, 113, 179, 0.8)!important;
}


/* FIN NEWSLETTER*/

@media screen and (max-width: 700px) {
    footer .newsletter .content h2 {
        font-size: 15px;
    }
}


/* FIN ESTILLO FOOTER */