.__card .__card-img-top,
.__card .row .__card-img-top {
    width: 100%!important;
    max-width: 450px!important;
    height: 100%!important;
    max-height: 250px!important;
}

.__card {
    border-radius: 10px;
    line-height: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .65);
}

.__card .__card-body .__btn {
    cursor: pointer;
    border: none;
    
    border-radius: 10px;
    background-color: #967cdd;
    transition: transform 0.5 ease;
    box-shadow: 0 15px 50px rgba(0, 0, 0, .65);
}

.__card .__card-body .__btn:hover {
    color: #000!important;
    background-color: #967cdd;
    transform: scale(1.01);
}

.tituloH1 {
    font-size: 2.5rem;
}

.involucrate {
    background-color:#F6E8F2;
}

hr {
    border-color: black;
}


/* .containerInvolucrate {
    max-width: 1400px;
    margin: 0 auto;
    padding: 60px 10px;
} 

@media (max-width: 768px) {
    .containerInvolucrate {
        max-width: 100%;
        padding: 30px 10px;
        flex-direction: column;
    }
} */